flow.json
[{"id":"a50541f3.08abe","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"da5159b9.5ff9f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"59e2eaf2.527944","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"84903b63.0c3458","type":"ui_group","z":"","name":"4","tab":"923ef5ca.27cbd8","disp":true,"width":"6","collapse":true},{"id":"9016eb9e.1f3518","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.200","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cea165b4.80dce8","type":"ui_group","z":"","name":"36","tab":"923ef5ca.27cbd8","disp":true,"width":"6","collapse":false},{"id":"3e9c4bb.b8e22b4","type":"ui_group","z":"","name":"7","tab":"923ef5ca.27cbd8","disp":true,"width":"6","collapse":false},{"id":"750a0f71.1087a","type":"ui_group","z":"","name":"Indicadores","tab":"1c2adbf7.207b04","disp":true,"width":"6","collapse":false},{"id":"923ef5ca.27cbd8","type":"ui_tab","z":"","name":"Casa","icon":"dashboard","disabled":false,"hidden":false},{"id":"1c2adbf7.207b04","type":"ui_tab","z":"","name":"Tabulador 2","icon":"dashboard","disabled":false,"hidden":false},{"id":"42837e90.ea1ad","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3043297d.7e3d66","type":"ui_text_input","z":"da5159b9.5ff9f8","name":"","label":"UIDE/4","tooltip":"","group":"84903b63.0c3458","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":220,"y":100,"wires":[["f362bfbe.23535"]]},{"id":"f362bfbe.23535","type":"mqtt out","z":"da5159b9.5ff9f8","name":"","topic":"UIDE/4","qos":"","retain":"","broker":"9016eb9e.1f3518","x":410,"y":100,"wires":[]},{"id":"fdd0e07d.e45d4","type":"mqtt in","z":"da5159b9.5ff9f8","name":"","topic":"UIDE/4","qos":"2","datatype":"auto","broker":"9016eb9e.1f3518","x":200,"y":240,"wires":[["e1abe1de.51c71"]]},{"id":"e1abe1de.51c71","type":"ui_text","z":"da5159b9.5ff9f8","group":"84903b63.0c3458","order":1,"width":0,"height":0,"name":"","label":"Recibido UIDE/4","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":240,"wires":[]},{"id":"217bb47a.dffbfc","type":"ui_text_input","z":"da5159b9.5ff9f8","name":"","label":"UIDE/36","tooltip":"","group":"cea165b4.80dce8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":220,"y":380,"wires":[["b85b30f1.5daf3"]]},{"id":"b85b30f1.5daf3","type":"mqtt out","z":"da5159b9.5ff9f8","name":"","topic":"UIDE/36","qos":"","retain":"","broker":"9016eb9e.1f3518","x":410,"y":380,"wires":[]},{"id":"54989d9c.1c12b4","type":"mqtt in","z":"da5159b9.5ff9f8","name":"","topic":"UIDE/36","qos":"2","datatype":"auto","broker":"9016eb9e.1f3518","x":210,"y":520,"wires":[["2239df9e.d1cf2"]]},{"id":"2239df9e.d1cf2","type":"ui_text","z":"da5159b9.5ff9f8","group":"cea165b4.80dce8","order":1,"width":0,"height":0,"name":"","label":"Recibido UIDE/36","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":520,"wires":[]},{"id":"604c442e.7a2e9c","type":"ui_text_input","z":"da5159b9.5ff9f8","name":"","label":"UIDE/7","tooltip":"","group":"3e9c4bb.b8e22b4","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":220,"y":620,"wires":[["edc7ef5f.76e3a"]]},{"id":"edc7ef5f.76e3a","type":"mqtt out","z":"da5159b9.5ff9f8","name":"","topic":"UIDE/7","qos":"","retain":"","broker":"9016eb9e.1f3518","x":410,"y":620,"wires":[]},{"id":"66289bd7.e0c414","type":"mqtt in","z":"da5159b9.5ff9f8","name":"","topic":"UIDE/7","qos":"2","datatype":"auto","broker":"9016eb9e.1f3518","x":200,"y":760,"wires":[["88e49806.8e6e28"]]},{"id":"88e49806.8e6e28","type":"ui_text","z":"da5159b9.5ff9f8","group":"3e9c4bb.b8e22b4","order":1,"width":0,"height":0,"name":"","label":"Recibido UIDE/7","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":760,"wires":[]},{"id":"13f25dfb.686072","type":"ui_gauge","z":"da5159b9.5ff9f8","name":"","group":"750a0f71.1087a","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":340,"wires":[]},{"id":"a9df38.7e04a0c8","type":"mqtt in","z":"da5159b9.5ff9f8","name":"","topic":"contador","qos":"2","datatype":"auto","broker":"9016eb9e.1f3518","x":640,"y":380,"wires":[["502ff6ea.fc90a8"]]},{"id":"583c5697.777f88","type":"ui_numeric","z":"da5159b9.5ff9f8","name":"","label":"Contador","tooltip":"","group":"750a0f71.1087a","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":740,"y":500,"wires":[["3b971ac6.c9e756"]]},{"id":"3b971ac6.c9e756","type":"mqtt out","z":"da5159b9.5ff9f8","name":"","topic":"contador","qos":"","retain":"","broker":"9016eb9e.1f3518","x":970,"y":500,"wires":[]},{"id":"1e9e9efb.4d2841","type":"ui_chart","z":"da5159b9.5ff9f8","name":"","group":"750a0f71.1087a","order":2,"width":0,"height":0,"label":"Gráfica","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1040,"y":400,"wires":[[]]},{"id":"502ff6ea.fc90a8","type":"function","z":"da5159b9.5ff9f8","name":"","func":"var variable;\n\n//variable = variable +1;\nmsg.payload = 7;\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":380,"wires":[["8d60e588.15f4c8","13f25dfb.686072","1e9e9efb.4d2841"]]},{"id":"8d60e588.15f4c8","type":"debug","z":"da5159b9.5ff9f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":280,"wires":[]},{"id":"c7d5f235.329d9","type":"inject","z":"59e2eaf2.527944","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["443a45b4.d5ea6c"]]},{"id":"443a45b4.d5ea6c","type":"debug","z":"59e2eaf2.527944","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":140,"wires":[]}]