flows.json
[{"id":"ac1d210.e0737e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3cdc26ea.ad065a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"168503d2.29aefc","type":"inject","z":"ac1d210.e0737e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["3f9126a6.ee878a"]]},{"id":"3f9126a6.ee878a","type":"debug","z":"ac1d210.e0737e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":140,"wires":[]},{"id":"ec839edb.856dc","type":"inject","z":"3cdc26ea.ad065a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["9119a8f1.e215b8"]]},{"id":"9119a8f1.e215b8","type":"debug","z":"3cdc26ea.ad065a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":100,"wires":[]}]